[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "*"
captcha = "*"
django-simple-captcha = "*"
django-easy-timezones = "*"
django-otp = "*"
gunicorn = "*"

[requires]
python_version = "2.7"
