<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
	<link type="text/css" rel="stylesheet" href="{% static 'polls/css/materialize.css' %}" media="screen,projection" />
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'chat/images/sound.png' %}"/>
	<title >Garrulous</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<nav class="black">
		<div class="top-nav">
			<div class="container">
				<div class="nav-wrapper">
					<img class="responsive-img circle z-depth-5" src="{% static 'chat/images/sound.png' %}" style="width: 6%">
					<span style="padding-left: 20px"><a href="/chat" class="brand-logo">Garrulous</a></span>
					<ul id="nav-mobile" class="right hide-on-med-and-down">
						<li><a href="/chat/">Chat</a></li>
						<li><a href="/polls/allresults/">Polls</a></li>
						<li><a href="/polls/">Index</a></li>
						<li><a href="/accounts/logout/">Logout</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
</head>
<body style="{% block body_style %}{% endblock %}">
	{% block body_block %}{% endblock %}
	{% block footer %}
		<script type="text/javascript" src="{% static 'polls/js/materialize.js' %}"></script>
		<footer class="page-footer black">
			<div class="container">
				<div class="row">
					<div class="col s6">
						<h5 class="white-text">Garrulous</h5>
					</div>
					<div class="col s6">
						<h5 class="white-text">My Other Projects</h5>
						<ul>
							<li><a class="grey-text text-lighten-3" href="https://github.com/PoisonRain">My Github</a>
							<li><a class="grey-text text-lighten-3" href="https://bitbucket.org/PoisonRain/">My Bitbucket</a>
							<li><a class="grey-text text-lighten-3" href="https://play.google.com/store/apps/dev?id=6593726962513044888">Google Play Developer Page</a>
						</ul>
					</div>
				</div>
			</div>
		</footer>
        {% endblock %}
</body>
</html>

