<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
	<link type="text/css" rel="stylesheet" href="{% static 'polls/css/materialize.css' %}" media="screen,projection" />
	<link rel="shortcut icon" type="image/x-icon" href="{% block favicon_block %}{% static 'chat/images/sound.png' %}{% endblock %}"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title>{% block page_title_block %}Garrulous{% endblock %}</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<nav class="{% block header_color_block %}black{% endblock %}">
		<div class="top-nav">
			<div class="container">
				<div class="nav-wrapper">
					<img class="responsive-img circle z-depth-5{% block icon_background_block %}{% endblock %}" src="{% block icon_block %}{% static 'chat/images/sound.png' %}{% endblock %}" style="width: 6%">
					<span style="padding-left: 20px"><a href="/chat" class="brand-logo">{% block header_title_block %}Garrulous{% endblock %}</a></span>
					<ul id="nav-mobile" class="right hide-on-med-and-down">
						<li class="blue darken-4"><a href="/chat/">Chat</a></li>
						<li class="red accent-4"><a href="/polls/">Polls</a></li>
						<li class="green"><a href="/pimote/">Pimote</a></li>
						<li class="grey darken-4"><a href="/accounts/logout/">Logout</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
</head>
<body style="{% block body_style %}{% endblock %}">
	{% block sidebar_block %}{% endblock %}
	{% block body_block %}{% endblock %}
	{% block footer %}
		<script type="text/javascript" src="{% static 'polls/js/materialize.js' %}"></script>
		<footer class="page-footer {% block footer_color_block %}black{% endblock %}">
			<div class="container">
				<div class="row">
					<div class="col s6">
						<h5 class="white-text">{% block footer_title_block %}Garrulous{% endblock %}</h5>
					</div>
					<div class="col s6">
						<h5 class="white-text">My Other Projects</h5>
						<ul>
							<li><a class="grey-text text-lighten-3" href="https://github.com/PoisonRain">My Github</a>
							<li><a class="grey-text text-lighten-3" href="https://bitbucket.org/PoisonRain/">My Bitbucket</a>
							<li><a class="grey-text text-lighten-3" href="https://play.google.com/store/apps/dev?id=6593726962513044888">Google Play Developer Page</a>
						</ul>
					</div>
				</div>
			</div>
		</footer>
        {% endblock %}
</body>
</html>

